<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width,maximum-scale=1.0,initial-scale=1.0,minimum-scale=1.0,user-scalable=no,shrink-to-fit=yes"
        />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <title>Onderteken je stem met IRMA</title>
    </head>

    <body>
        <noscript>
            Je hebt JavaScript nodig om de demo's te bekijken.
        </noscript>
        <button>sign</button>
        <section id="irma-web-form"></section>
    </body>
</html>
